html, body {
	padding: 0;
	margin: 0;
	width: 100%;
}

/*使用border-box盒模型进行计算*/
* {
	box-sizing: border-box;
}

.container {
	width: 98%;
	margin: 0px auto;
	position: relative;
}

.row {
	width: 100%;
	position: relative;
	overflow: hidden;
}

/*清除浮动*/
.row:after {
	content: "";
	display: table;
	clear: both;
}

/*类名以col-xs开头的元素左浮动*/
*[class*="col-xs"] {
	float: left;
}


.col-xs-1 {
	width: 8.333333%;
}
.col-xs-2 {
	width: 16.666666%;
}
.col-xs-3 {
	width: 24.999999%;
}
.col-xs-4 {
	width: 33.333332%;
}
.col-xs-5 {
	width: 41.666665%;
}
.col-xs-6 {
	width: 49.999998%;
}
.col-xs-7 {
	width: 58.333331%;
}
.col-xs-8 {
	width: 66.666664%;
}
.col-xs-9 {
	width: 74.999997%;
}
.col-xs-10 {
	width: 83.333330%;
}
.col-xs-11 {
	width: 91.666663%;
}
.col-xs-12 {
	width: 100%;
}

/*这里是七等分的*/
.col-xs-one-of-seven {
	width: 14.285714%;
}

/*
	因为默认的button不好看，所以自定义button样式
*/
.btn {
	cursor: pointer;
	color: #ffffff;
	background-color: #4a8cf7;
	font-size: 14px;
	font-weight: normal;
	font-family:Arial;
	border:0px solid #dcdcdc;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
	box-shadow: inset 0px 0px 0px 0px #ffffff;
	text-align: center;
	display: inline-block;
	text-decoration:  none;
}

.btn:hover{
	background-color: #337ab7;
}







