 
 /*限制container容器最大为512px*/
.container {
	max-width: 512px;
}

/*菜单栏的样式*/
.menu {
	padding: 0 5px;
	background: #ddd;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
}

/*设置菜单栏子元素的样式*/
.menu  select{
	border:  #4a8cf7 2px solid;
	border-radius: 0;
	cursor: pointer;
	font-size: 1rem;
	height: 1.5rem;
	line-height: 1.5rem;
	vertical-align: middle;
}

.menu .btn {
	font-size: 1rem;
	height: 1.5rem;
	vertical-align: middle;
	line-height: 1.5rem;
	width: 2rem;
}

.menu #back-today {
	width: 3rem;
}

/*设置月份选择和年份选择的边距和宽度*/
.menu #select-month {
	margin: 0 -2px;
	width: 5rem;
}
.menu #select-year {
	margin: 0 -2px;
	width: 6rem;
}

/*日历表的边框*/
#week {
	border: 1px solid #d2d2d2;
}

/*日历表中的格子高度等于行高，水平方向居中显示*/
#week .days, .dates {
	text-align:  center;
	height: 100%;
}

/*日历表头的星期几的样式*/
#week .week-header {
	background: rgb(254, 251, 235);
	height: 2rem;
	line-height: 2rem;
}

/*日期行级别样式，设置高度和行高*/
#week .week-content {
	height: 4rem;
	line-height: 2rem;
}

/*日期格子添加边框*/
#week .week-content .dates {
	border: 1px solid #f1ebe4;
	cursor: pointer;
}

#week .week-content .rest-dates {
	background: url(../images/release.gif) no-repeat #fff0f0;
}

/*鼠标悬停高亮显示 */
#week  .week-content .dates:hover {
	border: 2px solid orange;
}

/*公历日期的样式*/
#week .week-content .dates .solar-date {
	font-size: 1.5rem !important;
	font-weight: 900;
}

/*日历表中非当前月份的格子的样式*/
.last-month, .next-month {
	background: #f5f5f5;
	color: #bfbfbf;
}

/*清除UC浏览器的鼠标悬停的bug*/
.last-month:hover, .next-month:hover {
	border: 0px !important;
}

/*节假日的样式*/
.festival-date {
	color: red;
}
/*24节气的样式*/
.term-date {
	color: green;
}
/*高亮显示今天*/
.today {
	background: orange;
}

/*日期详情*/
#details {
	line-height: 2rem;
	height: 2rem;
	color: #bfbfbf;
	font-size: 1rem;
	padding: 0 5px;
	text-align: center;
}