.menu {
	padding: 5px;
	background: #ddd;
}

.week {
	
}

.sidebar {
	border: 1px solid #ccc;
	padding-bottom: 1200px;
	margin-bottom: -1200px;
}

.menu {
	/*font-size: 1.2rem;*/
	height: 2rem;
}

.menu  select, .menu button {
	font-size: 1rem;
	width: 8rem;
}

#week div[class^="col-xs"] {
	text-align:  center;
	height: 100%;
}

#week .week-header {
	background: rgb(254, 251, 235);
	height: 2rem;
	line-height: 2rem;
}

#week .week-content {
	height: 4rem;
	line-height: 2rem;
}
#week .week-content .col-xs-one-of-seven {
	border: 1px solid #F5FFFA;
	/*padding: 1px;*/
}
#week .week-content .solar-date {
	font-size: 2rem;
}

.current-month {
	background: #abcdef;
}

.last-month, .next-month {
	background: #ccc;
}

/*节假日的样式*/
.solar-festival-date {
	color: red;
}
.term-date {
	color: green;
}