.menu {
	border: 1px solid orange;
	padding: 5px;
}

.week {
	border: 1px blue solid;
}

.sidebar {
	border: 1px solid #ccc;
	padding-bottom: 1200px;
	margin-bottom: -1200px;
}

.select {
	cursor: pointer;
}